<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <node name="restaurant_workflow" type="run.py" pkg="restaurant" output="screen" />

  <!-- The rest of the params are specific to this plugin -->
  <rosparam file="$(find restaurant)/config/fixed_coordinates.yaml"/>

</launch>