<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="map"            default="$(find restaurant)/map/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />

    <!-- Launch rviz -->
 	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find restaurant)/launch/rviz/tiago.rviz" required="true" />

</launch>