<launch>


  <!-- Preload nodes -->
  <node name="restaurant_workflow" type="run.py" pkg="restaurant" output="screen" />
  <node name="customer_interest_node" pkg="customer_interest_detection" type="customer_interest_server.py" output="screen"/>
  <!-- <node name="wit_ros_node" pkg="wit_ros" type="wit_node.py" output="screen"/> -->
  <node name="grasp_object" pkg="object_grasp" type="grasp.py" output="screen"/>

  <!-- Parameters -->
  <rosparam file="$(find restaurant)/config/fixed_coordinates.yaml"/>

</launch>
